html {
  font-family: "Times New Roman", Times;
  background: #111111;
}

body {
  max-width: 960px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial;
  color: #eeeeee;
}

a {
  color: #377ba8;
}

nav {
  background: 666699;
  align-items: right;
}

/* test changes */
